In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sys; sys.path.append('../src')
import os; home = os.path.expanduser('~')

sys.path.append(home + '/github/household-consumption/dicts/')

import json_utils
import utils

from simpledbf import Dbf5

raw  = home + '/Dropbox/data/mexico_enigh/raw/'
interim = home + '/Dropbox/data/mexico_enigh/interim2/'
dicts = home + '/github/household-consumption/dicts/'
processed = home + '/Dropbox/data/mexico_enigh/processed2/'

In [6]:
os.chdir(interim)
df = pd.read_csv('main.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20399 entries, 0 to 20398
Data columns (total 37 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   consumption_transportation  20399 non-null  float64
 1   income_salary               20399 non-null  float64
 2   income_total                20399 non-null  float64
 3   location_size               20399 non-null  int64
 4   hhid                        20399 non-null  int64
 5   consumption_food            20399 non-null  float64
 6   consumption_clothing        20399 non-null  float64
 7   consumption_total           20399 non-null  float64
 8   weight                      20399 non-null  float64
 9   income_rental               20399 non-null  float64
 10  location                    20399 non-null  object
 11  income_transfers            20399 non-null  float64
 12  income_current              20399 non-null  float64
 13  financial_expenditures      20399 non-null  float64
 14  consumption_house           20399 non-null  float64
 15  consumption_personal        20399 non-null  float64
 16  consumption_health          20399 non-null  float64
 17  income_other                20399 non-null  float64
 18  financial_income            20399 non-null  float64
 19  consumption_current         20399 non-null  float64
 20  hh_size                     20399 non-null  int64
 21  income_business             20399 non-null  float64
 22  consumption_education       20399 non-null  float64
 23  sex                         20399 non-null  object
 24  education_technical         20399 non-null  int64
 25  education                   20399 non-null  object
 26  relationship_to_hhm         20399 non-null  int64
 27  age                         20399 non-null  int64
 28  type_of_education           20399 non-null  int64
 29  is_household_head           20399 non-null  bool
 30  Y                           20399 non-null  int64
 31  income                      20399 non-null  float64
 32  consumption                 20399 non-null  float64
 33  cpi                         20399 non-null  float64
 34  log_income                  20399 non-null  float64
 35  log_consumption             20399 non-null  float64
 36  age_sq                      20399 non-null  int64
dtypes: bool(1), float64(24), int64(9), object(3)
memory usage: 5.6+ MB

In [7]:
df.info()
os.chdir(processed)
df.to_csv('data.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20399 entries, 0 to 20398
Data columns (total 37 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   consumption_transportation  20399 non-null  float64
 1   income_salary               20399 non-null  float64
 2   income_total                20399 non-null  float64
 3   location_size               20399 non-null  int64
 4   hhid                        20399 non-null  int64
 5   consumption_food            20399 non-null  float64
 6   consumption_clothing        20399 non-null  float64
 7   consumption_total           20399 non-null  float64
 8   weight                      20399 non-null  float64
 9   income_rental               20399 non-null  float64
 10  location                    20399 non-null  object
 11  income_transfers            20399 non-null  float64
 12  income_current              20399 non-null  float64
 13  financial_expenditures      20399 non-null  float64
 14  consumption_house           20399 non-null  float64
 15  consumption_personal        20399 non-null  float64
 16  consumption_health          20399 non-null  float64
 17  income_other                20399 non-null  float64
 18  financial_income            20399 non-null  float64
 19  consumption_current         20399 non-null  float64
 20  hh_size                     20399 non-null  int64
 21  income_business             20399 non-null  float64
 22  consumption_education       20399 non-null  float64
 23  sex                         20399 non-null  object
 24  education_technical         20399 non-null  int64
 25  education                   20399 non-null  object
 26  relationship_to_hhm         20399 non-null  int64
 27  age                         20399 non-null  int64
 28  type_of_education           20399 non-null  int64
 29  is_household_head           20399 non-null  bool
 30  Y                           20399 non-null  int64
 31  income                      20399 non-null  float64
 32  consumption                 20399 non-null  float64
 33  cpi                         20399 non-null  float64
 34  log_income                  20399 non-null  float64
 35  log_consumption             20399 non-null  float64
 36  age_sq                      20399 non-null  int64
dtypes: bool(1), float64(24), int64(9), object(3)
memory usage: 5.6+ MB