In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sys; 
#sys.path.append('/home/mitch/school/data/mexico_enigh/src/')
sys.path.append('../src')
sys.path.append('/home/mitch/github/ENIGH/dicts/')
sys.path.append('/home/mitch/util/python/')
import json_utils

import utils
import os

from simpledbf import Dbf5

raw  = '/home/mitch/Dropbox/data/mexico_enigh/raw/'
interim = '/home/mitch/Dropbox/data/mexico_enigh/interim2/'
dicts = '/home/mitch/github/ENIGH/dicts/'
processed = '/home/mitch/Dropbox/data/mexico_enigh/processed2/'

In [4]:
os.chdir(interim)
df = pd.read_csv('main.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20399 entries, 0 to 20398
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   consumption_current         20399 non-null  float64
 1   location_size               20399 non-null  int64
 2   hhid                        20399 non-null  int64
 3   consumption_food            20399 non-null  float64
 4   income_current              20399 non-null  float64
 5   hh_size                     20399 non-null  int64
 6   consumption_total           20399 non-null  float64
 7   consumption_personal        20399 non-null  float64
 8   consumption_clothing        20399 non-null  float64
 9   income_business             20399 non-null  float64
 10  income_salary               20399 non-null  float64
 11  income_transfers            20399 non-null  float64
 12  income_other                20399 non-null  float64
 13  weight                      20399 non-null  float64
 14  consumption_house           20399 non-null  float64
 15  location                    20399 non-null  object
 16  financial_expenditures      20399 non-null  float64
 17  consumption_health          20399 non-null  float64
 18  income_total                20399 non-null  float64
 19  income_rental               20399 non-null  float64
 20  consumption_education       20399 non-null  float64
 21  financial_income            20399 non-null  float64
 22  consumption_transportation  20399 non-null  float64
 23  sex                         20399 non-null  object
 24  type_of_education           20399 non-null  int64
 25  age                         20399 non-null  int64
 26  relationship_to_hhm         20399 non-null  int64
 27  education                   20399 non-null  object
 28  education_technical         20399 non-null  int64
 29  is_household_head           20399 non-null  bool
 30  Y                           20399 non-null  int64
 31  income                      20399 non-null  float64
 32  consumption                 20399 non-null  float64
 33  cpi                         20399 non-null  float64
 34  log_income                  20399 non-null  float64
 35  log_consumption             20399 non-null  float64
dtypes: bool(1), float64(24), int64(8), object(3)
memory usage: 5.5+ MB

In [5]:
df.info()
os.chdir(processed)
df.to_csv('data.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20399 entries, 0 to 20398
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   consumption_current         20399 non-null  float64
 1   location_size               20399 non-null  int64
 2   hhid                        20399 non-null  int64
 3   consumption_food            20399 non-null  float64
 4   income_current              20399 non-null  float64
 5   hh_size                     20399 non-null  int64
 6   consumption_total           20399 non-null  float64
 7   consumption_personal        20399 non-null  float64
 8   consumption_clothing        20399 non-null  float64
 9   income_business             20399 non-null  float64
 10  income_salary               20399 non-null  float64
 11  income_transfers            20399 non-null  float64
 12  income_other                20399 non-null  float64
 13  weight                      20399 non-null  float64
 14  consumption_house           20399 non-null  float64
 15  location                    20399 non-null  object
 16  financial_expenditures      20399 non-null  float64
 17  consumption_health          20399 non-null  float64
 18  income_total                20399 non-null  float64
 19  income_rental               20399 non-null  float64
 20  consumption_education       20399 non-null  float64
 21  financial_income            20399 non-null  float64
 22  consumption_transportation  20399 non-null  float64
 23  sex                         20399 non-null  object
 24  type_of_education           20399 non-null  int64
 25  age                         20399 non-null  int64
 26  relationship_to_hhm         20399 non-null  int64
 27  education                   20399 non-null  object
 28  education_technical         20399 non-null  int64
 29  is_household_head           20399 non-null  bool
 30  Y                           20399 non-null  int64
 31  income                      20399 non-null  float64
 32  consumption                 20399 non-null  float64
 33  cpi                         20399 non-null  float64
 34  log_income                  20399 non-null  float64
 35  log_consumption             20399 non-null  float64
dtypes: bool(1), float64(24), int64(8), object(3)
memory usage: 5.5+ MB