In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sys; sys.path.append('/home/mitch/school/data/mexico_enigh/src/')
sys.path.append('/home/mitch/util/python/')
import utils
import json_utils

import os; import json
from simpledbf import Dbf5

dir = '/home/mitch/school/data/mexico_enigh/'
data_dir = '/home/mitch/Dropbox/data/mexico_enigh/raw/1994/'
out_dir = '/home/mitch/Dropbox/data/mexico_enigh/interim/1994/'

In [27]:
os.chdir(data_dir)
concen = Dbf5('concen.dbf').to_dataframe()
data = concen.copy()

#os.chdir(dir)
#with open('pobalicion.json', 'r') as fp:
    #names = json.load(fp)
os.chdir(dir + 'dicts/')
rename = json_utils.load("rename_concen.json")

In [28]:
keep = ['hhid', 'location', 'weight', 'location_size']

In [29]:
data = data.rename(columns = rename)

In [30]:
data.head(20)

,hhid,location,weight,location_size,INGMON,PERMON,GASNOM,ERONOM,INGCOR,GASMON,...,consumption_transportation,consumption_education,consumption_personal,salary_income,business_income,rental_income,transfers_income,other_income,BEBIDAS,SMG
0,19940110010,01001,169.0,1,6480.00,0.0,920.31,1680.0,7400.31,5062.41,...,1378.50,703.35,488.60,6480.0,0.00,0.0,0.0,0.0,70.97,1160.1
1,19940110020,01001,169.0,1,2763.00,0.0,148.39,0.0,2911.39,2569.32,...,124.64,672.24,82.21,1440.0,0.00,0.0,1323.0,0.0,84.11,1160.1
2,19940110030,01001,169.0,1,2760.00,0.0,593.54,0.0,3353.54,2002.79,...,0.00,75.00,190.53,2760.0,0.00,0.0,0.0,0.0,35.49,1160.1
3,19940110040,01001,169.0,1,6600.00,0.0,1533.85,0.0,8133.85,4925.66,...,141.94,533.43,633.63,4860.0,0.00,0.0,1740.0,0.0,23.66,1160.1
4,19940110050,01001,169.0,1,8280.00,0.0,1780.62,0.0,10060.62,5128.29,...,0.00,1579.35,308.65,8280.0,0.00,0.0,0.0,0.0,0.00,1160.1
5,19940110060,01001,153.0,1,7560.00,200.0,1305.79,0.0,8865.79,4109.89,...,732.12,771.61,125.33,6060.0,1500.00,0.0,0.0,0.0,23.66,1160.1
6,19940110070,01001,153.0,1,13000.00,500.0,3185.04,0.0,16185.04,11161.73,...,1615.39,1500.95,1407.17,8500.0,4500.00,0.0,0.0,0.0,461.30,1160.1
7,19940110090,01001,153.0,1,5700.00,950.0,1746.76,0.0,7446.76,4774.50,...,1284.78,867.05,699.27,0.0,5700.00,0.0,0.0,0.0,14.46,1160.1
8,19940110100,01001,153.0,1,6010.00,5400.0,1449.92,85.0,7459.92,9283.83,...,1415.61,1727.01,738.36,6010.0,0.00,0.0,0.0,0.0,265.49,1160.1
9,19940110110,01001,164.0,1,4200.00,0.0,2489.27,0.0,6689.27,5590.59,...,131.43,644.00,218.86,300.0,3900.00,0.0,0.0,0.0,407.42,1160.1
10,19940110120,01001,164.0,1,2435.00,0.0,2347.19,0.0,4782.19,2187.29,...,11.57,0.00,1600.00,2435.0,0.00,0.0,0.0,0.0,0.00,1160.1
11,19940110130,01001,164.0,1,5600.00,0.0,1187.08,0.0,6787.08,7400.00,...,1578.71,2494.17,306.08,5600.0,0.00,0.0,0.0,0.0,164.30,1160.1
12,19940110160,01009,420.0,3,2125.00,0.0,2985.78,0.0,5110.78,676.85,...,0.00,0.00,0.00,2125.0,0.00,0.0,0.0,0.0,0.00,1160.1
13,19940110170,01009,420.0,3,2460.00,0.0,178.06,0.0,2638.06,2027.13,...,0.00,59.35,54.01,2460.0,0.00,0.0,0.0,0.0,32.86,1160.1
14,19940110180,01009,420.0,3,1050.00,0.0,148.39,0.0,1198.39,2037.96,...,328.57,59.35,75.97,1050.0,0.00,0.0,0.0,0.0,105.15,1160.1
15,19940110190,01009,420.0,3,1560.00,300.0,1301.55,0.0,2861.55,1964.35,...,0.00,0.00,182.48,1560.0,0.00,0.0,0.0,0.0,105.14,1160.1
16,19940110200,01009,420.0,3,2100.00,0.0,118.71,0.0,2218.71,2222.62,...,0.00,426.12,128.79,2100.0,0.00,0.0,0.0,0.0,92.01,1160.1
17,19940110210,01007,176.0,4,2376.98,0.0,296.77,0.0,2673.75,3463.60,...,1134.19,29.68,43.33,1320.0,702.98,0.0,354.0,0.0,368.01,1160.1
18,19940110250,01007,176.0,4,3600.00,400.0,296.77,0.0,3896.77,2061.41,...,946.84,0.00,127.62,3600.0,0.00,0.0,0.0,0.0,0.00,1160.1
19,19940110260,01007,176.0,4,2600.00,0.0,741.93,0.0,3341.93,1939.75,...,154.03,406.58,74.18,2600.0,0.00,0.0,0.0,0.0,82.81,1160.1

In [31]:
consumption = ['consumption_food', 'consumption_clothing', 'consumption_health', 'consumption_transportation', 'consumption_education', 'consumption_personal']
income = ['salary_income']
keep += consumption
keep += income

In [32]:
data['consumption'] = data[consumption].sum(axis=1)
keep += ['consumption']

In [33]:
data = (data.query('consumption > 0')
        .query('salary_income > 0'))

In [34]:
os.chdir(out_dir)
data.to_csv('concen_cleaned.csv')